.Card {
  margin: 3rem 0;
  border: 1px solid #ddd;
}

.Card-container {
  padding: 1rem;
}

.Card-description {
  white-space: pre;
}

.Card-image {
  max-width: 100%;
  max-height: 300px;
  margin: 1rem 0;
  border: 1px solid #ddd;
}
